body{
    position: relative;
    margin: 0;
}

.page-header{
    background-image: url(img/pattern.png);
    background-size: 32%;
    background-color: rgb(29, 255, 255);
    padding: 30px;
}
.logo{
    height: 45px;
    position: relative;
    padding-left: 120px
    /* top: 30%; */
}


main{
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

.evidenziato {
    background: yellow;
}

#boo {
    color: cadetblue;
}

.sottotitolo{
    color: lightgrey;
    font-size: 14px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.fototitolo{
    width: 35%;
    height: 300px;
}

h1{
    margin-bottom: 0%;
}

#data{
    font-size: 12px;
}

.foto{
    margin-bottom: 0%;
    margin-bottom: 0%;
    font-size: 12px;
}

#second {
    margin-bottom: 1%;
}

.text{
    font-size: 13px;
}

li{
    font-size: 13px;
    margin-left: 0px;
}

table{
    margin-bottom: 3%;
    font-size: 13px;
}

th{
    background-color: rgb(68, 211, 224);
    width: 10%;
    height: auto;
}

.testolungo{
    width: 30%;
}

.chiaro{
    background-color: rgb(165, 191, 198);
}

.scuro{
    background-color: rgb(66, 174, 184);
}

footer{
    background-color: darkblue;
    font-size: 10px;
    text-align: center;
    color: white;
    border: 10px solid darkblue;
    width: 100%;
    height: 100%;
}