body{
    position: relative;
    margin: 0;
}

.page-header{
    background-image: url(img/pattern.png);
    background-size: 32%;
    background-color: rgb(159, 228, 255);
    padding: 30px 20px;
}
.logo{
    height: 50px;
    position: relative;
    margin-left: 9%;
    /* top: 30%; */
}


main{
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

/* inizio titolo e foto */

main a{
    text-decoration: none;
}

#boo {
    color: cadetblue;
}

.sottotitolo{
    color: lightgrey;
    font-size: 14px;
    margin-top: 0%;
    margin-bottom: 0%;
}

.fototitolo{
    width: 35%;
    height: 300px;
}

h1{
    margin-bottom: 0%;
}

#data{
    font-size: 12px;
    padding-bottom: 10px;
}

.foto{
    margin-bottom: 0%;
    margin-bottom: 0%;
    font-size: 12px;
}

#second {
    margin-bottom: 1%;
}

/* Fine titolo e foto */

.text{
    font-size: 13px;
}

li{
    font-size: 13px;
    padding: 0;
}

ul{
    padding-left: 1%;
}

.table{
    width: 100%;
    font-size: 12px;
    padding-bottom: 20px;
}

.table thead tr{
    text-align: left;
    background-color: rgb(159, 228, 255);
}
/* th{
    background-color: rgb(68, 211, 224);
    text-align: left;
} */

.testolungo{
    width: 50%;
}

.w-25{
    width: 25%;
}

.chiaro{
    background-color: rgb(219, 227, 230);
}

.scuro{
    background-color:rgb(159, 228, 255);
}

footer{
    background-color: darkblue;
    font-size: 10px;
    text-align: center;
    color: white;
    padding: 16px;
}